.team_details{
    width: 100%;
    max-width: 700px;
    height: 100%;
}

.team_detail_header{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#details_crest{
    width: 30px;
}

.active_competitions{

    padding-bottom: 10px;
    
    border-color: rgb(177, 177, 177); 
    border-top-style: solid;
    border-width: 1px;
}

.active_competitions_list{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    
    width: 500px;
    background: linear-gradient(130deg,rgb(255, 225, 240),rgb(212, 233, 250));

    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    border-radius: 0.5em;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.upcoming_matches{
    border-color: rgb(177, 177, 177); 
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    text-align: center;

}

.upcoming_matches_component{
    display: flex;
    flex-direction: column;

    align-items: center;
}