.league_link{
    text-decoration: none;
    color: black;
    height: 40px;
    width: 100%;
 
}
p{
    line-height: 0;
}
.league_div{
    padding-left: 70px;

    height: 20px;
    width: 200px;
    background-color: rgb(0, 0, 0,0);
    border-style: none;


    text-align: left;
    color: white;
    
}

.league_container{
    /* background-color: white;
    width: 250px;

    border-style: none;
    border-radius: 1em;

    padding-top: 20px;
    padding-bottom: 20px;
 */

}

.league_div:hover{
    background-color: rgb(0, 0, 0,0.2);    

}

