html{
    /* background-color: white; */
}
.league_link{
    text-decoration: none;
    color: black;
    height: 40px;
    width: 100%;
 
}
p{
    line-height: 0
}
.league_div{
    height: 40px;
    width: 100%;
    background-color: rgb(233, 233, 233);

    border-style: none;
    text-align: left;
    
}
.league_div:hover{
    background-color: rgb(212, 212, 212);
}

